h1 {
  margin:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(85, 61, 61);
  }
  
  li {
    float: left;
    border: 1px solid white;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(41, 199,67);
  }
  .container{
      background-color: rgb(216,216,216);
      width: auto;
      height: 70px;
      font-size: 30px;
      padding-left: 15px;
      padding-bottom: 3px;
      /* margin-bottom: 20px; */
  }
  /* height ='100%'width='100%'  */
 .container2 {
     background-color: white;
     float: left;
     width: 75%;
     height: 100%;
     padding-left: 30px;
 }
 .container3{
     float: right;
     width: 22%;
     height: 100%;
     padding-left: 10px;
     text-align: justify;
 }
.arrange{
     margin-top: 20px;
     padding-right: 10px;
     text-align: justify;
 }
.cont{
  overflow: hidden;
  display: flex;
}
footer{
    position:relative;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: rgb(128,128,128);
    text-align: right;
    padding-top:1%;
    padding-bottom:1%;
    rgb(128,128,128); text-align: right;"
}
/* #container5 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    text-align: right;
}
 */
